.appStyles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
  gap: 2rem;
  width: 100%;

}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem
}

.loading-dots {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;

}

.dot {
  width: 12px;
  height: 12px;
  background-color: azure;
  border-radius: 50%;
  animation: bounce 1.2s infinite ease-in-out;
}


.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.2s;
}


@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}